<!doctype html>
<html>
<head>
<meta property="wb:webmaster" content="d334c2ae5daf0469" />
<meta property="qc:admins" content="353721615076347540636654" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta name="keywords" content=" CloudXNS,免费DNS,智能DNS,DNS解析,域名解析,DNS优化,域名管理,负载均衡,智能DNS解析,运维工具箱,资讯快车,网站监控,域名管理 " />
<meta name="description" content=" CloudXNS是北京快网自主研发全新架构的智能DNS解析系统，提供多元化免费智能DNS解析服务。在响应、分发、存储及负载均衡等设计中使用北京快网私有DNS协议，同时提供微域名管理，DNS优化，DNS查询，分区PING（服务器网络检测）等运维工具。 " />
<title>CloudXNS - 免费智能DNS解析服务-迄今为止最好用的智能DNS</title>
<link rel="stylesheet" href="/Public/Sun/css/index.css?v=20160411">
<script type="text/javascript">
var Lang_prefix = "";
var feedbackUrl = "https://www.cloudxns.net/Index/feedback";
var APP_DOMAIN;
document.domain = APP_DOMAIN = "cloudxns.net";
</script>
</head>
<body class="zhcn">
<div id="header">
    <div class="wrap">
        <h1><a href="https://www.cloudxns.net/Index/index.html" id="logo" title="CloudXNS 面向云计算的智能DNS系统"><img src="/Public/Sun/images/common/logo3.png" alt="CloudXNS 面向云计算的智能DNS系统"></a></h1>
        <ul id="nav">  
            <li><a  class="current" href="https://www.cloudxns.net/Index/index.html" title="首页">首页</a></li>
            <li><a  href="https://www.cloudxns.net/Index/dns.html" title="智能DNS">智能DNS</a></li>
            <li class="plus">
                <a href="https://www.cloudxns.net/Index/plus.html" ><i>CloudXNS+</i></a>
                <ul>
                    <li><a href="https://www.cloudxns.net/Index/xmon.html">鹰眼监控</a></li>
                    <li><a href="https://www.cloudxns.net/Index/Speed.html">牛盾云安全</a></li>
                    <li><a href="https://www.cloudxns.net/Index/weixin.html">微域名管理</a></li>
                    <li><a href="https://www.cloudxns.net/Index/HttpDNS.html">HttpDNS</a></li>
                </ul>
            </li>
            <li class="plus">
                <a href="https://www.cloudxns.net/Order/index.html" ><i>产品选购</i></a>
                <ul>
                    <li><a href="https://www.cloudxns.net/Order/diy.html">DIY</a></li>
                    <li><a href="https://www.cloudxns.net/Index/vipservice.html">VIP</a></li>
                    <li><a href="https://www.cloudxns.net/Order/newdefend.html">牛盾</a></li>
                    
                </ul>
            </li>
            <li><a  href="https://www.cloudxns.net/Support/index.html" title="服务与支持">服务与支持</a></li>
            <li class="plus"><a href="http://tools.cloudxns.net"><i>运维工具箱</i></a>
                <ul>
                    <li><a href="http://tools.cloudxns.net/index.php/Index/Diag">用户DNS优化</a></li>
                    <li><a href="http://tools.cloudxns.net/index.php/Index/Around" target="_blank">全国DNS查询</a></li>
                    <li><a href="http://tools.cloudxns.net/index.php/Index/Query" target="_blank">本地DNS探测分析</a></li>
                    <li><a href="http://tools.cloudxns.net/index.php/Index/Mdig">智能DNS分区检测</a></li>
                    <li><a href="http://tools.cloudxns.net/index.php/Index/Ping">分区PING</a></li>
                </ul>
            </li>
        </ul>
                <ul class="topnav">
            <li><a href="https://www.cloudxns.net/Sign/signin.html">登录</a>|</li>
            <li><a href="https://www.cloudxns.net/Sign/signup.html">注册</a></li>
        </ul>
            </div>
</div>
<div id="intro">
    <div class="bg">
    <div class="wrap">
        <h1>迄今为止最好用的智能DNS</h1>
        <p class="p1">从理论到实践，全方位认识<a href="https://www.cloudxns.net/Support/detail/id/737.html">DNS</a></p>
        <p class="p2">使用智能解析的<a href="https://www.cloudxns.net/Index/Extend.html">扩展功能</a></p>
    </div>
    </div>
</div>
<div id="news">
    <div class="wrap">
        <a href="https://www.cloudxns.net/Support/index.html" class="more">更多<span>>></span></a>
        <ul>
                                            <li><a href="https://www.cloudxns.net/Support/detail/id/208.html">只需四步，搞定域名解析</a></li>
                                <li><a href="https://www.cloudxns.net/Support/detail/id/1361.html">API使用文档2016版</a></li>
                                <li><a href="https://www.cloudxns.net/Support/detail/id/13.html">CloudXNS域名解析范例</a></li>
                                <li><a href="https://www.cloudxns.net/Support/detail/id/21.html">CloudXNS支持的域名后缀</a></li>
                                    </ul>
    </div>
</div>
<div id="content">
    <div id="dns" class="box">
        <div class="img"><img src="/Public/Sun/images/index/box1.jpg" alt=""></div>
        <div class="txt">
            <h2><a href="https://www.cloudxns.net/Index/dns.html" title="智能DNS">智能DNS</a></h2>
            <ul>
                <li>
                    <h4>一键添加邮箱记录</h4>
                    <p>支持国内外流行的域名邮箱服务</p>
                </li>
                <li>
                    <h4>4步搞定解析</h4>
                    <p>注册 ->添加域名 ->配置解析->修改NS</p>
                </li>
                <li>
                    <h4>6种扩展类型</h4>
                    <p>独有的AX、CNAMEX、LINK、301/302/隐式跳转</p>
                </li>
                <li>
                    <h4>30多个节点</h4>
                    <p>遍布大陆各大运营商、亚太、美洲、欧洲</p>
                </li>
                <li>
                    <h4>200多条线路</h4>
                    <p>全网最细线路，4级划分，还可私人定制</p>
                </li>
                <li>
                    <h4>0.5s闪电生效</h4>
                    <p>采用私有增量DNS更新协议，闪电生效</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="xmon" class="box">
        <div class="img"><img src="/Public/Sun/images/index/box2.jpg" alt=""></div>
        <div class="txt">
            <h2><a href="https://www.cloudxns.net/Index/xmon.html">鹰眼监控</a></h2>
            <ul>
                <li>
                    <h4>一键开启监控任务</h4>
                    <p>提供默认监控方式，并支持自定义监控类型等各种参数</p>
                </li>
                <li>
                    <h4>7*24分布式监测</h4>
                    <p>16个监控节点全天候服务，覆盖全区域+5大运营商</p>
                </li>
                <li>
                    <h4>实时智能切换</h4>
                    <p>监控反应灵敏，宕机实时切换</p>
                </li>
                <li>
                    <h4>多种报警方式</h4>
                    <p>邮件、短信、微信、URL回调</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="newdefend" class="box">
        <div class="img"><img src="/Public/Sun/images/index/box3.jpg" alt=""></div>
        <div class="txt">
            <h2><a href="https://www.cloudxns.net/Index/Speed.html">牛盾云安全</a></h2>
            <ul>
                <li>
                    <h4>一键开启安全加速</h4>
                    <p>独创DNS系统一键开启WAF并接入CDN，方便快捷</p>
                </li>
                <li>
                    <h4>网站CDN加速</h4>
                    <p>无忧共享上千Gigabyte的网络加速带宽，摆脱攻击</p>
                </li>
                <li>
                    <h4>云防火墙</h4>
                    <p>免费提供数十个大型云计算中心节点的云防火墙，抵御黑客</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="wxmanage" class="box">
        <div class="img"><img src="/Public/Sun/images/index/box4.jpg" alt=""></div>
        <div class="txt">
            <h2><a href="https://www.cloudxns.net/Index/weixin.html">微域名管理</a></h2>
            <ul>
                <li>
                    <h4>微站管理</h4>
                    <p>操作集成到微信，简单、熟悉、易用</p>
                </li>
                <li>
                    <h4>账户安全</h4>
                    <p>多重防护随时随地保证账户及域名安全</p>
                </li>
                <li>
                    <h4>客户服务</h4>
                    <p>常见疑问一目了然，贴心客服一键呼叫</p>
                </li>
                <li>
                    <h4>智能DNS快讯</h4>
                    <p>新鲜资讯早知道，第一时间体验DNS更新惊喜</p>
                </li>
            </ul>
        </div>
    </div>
        <div class="partner">
        <h3><a href="https://www.cloudxns.net/Index/partner.html" class="more">更多<span>>></span></a>合作伙伴</h3>
        <div class="clientlist">
            <div class="hd">
                <a class="next"></a>
                <a class="prev"></a>
            </div>
            <div class="bd">
                <ul>
                                                                <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452756340.gif" alt="" width="162" height="62" title="微软"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452756628.gif" alt="" width="162" height="62" title="墨迹天气"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452757136.gif" alt="" width="162" height="62" title="芒果TV"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452757147.gif" alt="" width="162" height="62" title="金山"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452756122.gif" alt="" width="162" height="62" title="猎豹移动"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452757162.gif" alt="" width="162" height="62" title="PPTV"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/94351452757172.gif" alt="" width="162" height="62" title="西门子"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452756123.gif" alt="" width="162" height="62" title="百视通"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/59291452758292.gif" alt="" width="162" height="62" title="亿玛"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/71591452758301.gif" alt="" width="162" height="62" title="筑龙网"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452756124.gif" alt="" width="162" height="62" title="e课堂"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/13031452758423.gif" alt="" width="162" height="62" title="VST全聚合"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452756125.gif" alt="" width="162" height="62" title="okorder"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452756126.gif" alt="" width="162" height="62" title="K歌达人"></li>
                                            <li><img src="https://www.cloudxns.net/Public/Uploads/Articles/201601/1452756128.gif" alt="" width="162" height="62" title="牛盾云安全"></li>
                                                            </ul>
            </div>
        </div>        
    </div>
    <div class="links">
                <h3>友情链接：</h3>
        <ul>
                            <li><a href="http://www.fastweb.com.cn/" target="_blank">快网CDN</a></li>
                            <li><a href="https://www.newdefend.com/" target="_blank">牛盾云安全</a></li>
                            <li><a href="http://www.atool.org/" target="_blank">在线工具</a></li>
                            <li><a href="http://www.whpykj.com/" target="_blank">武汉网站建设</a></li>
                            <li><a href="http://yumi.com/" target="_blank">玉米网</a></li>
                            <li><a href="http://tool.lu/" target="_blank">在线工具箱</a></li>
                            <li><a href="http://www.hostucan.cn/cdn" target="_blank">CDN排名</a></li>
                    </ul>
            </div>
</div>

<div id="footer">
    <div class="footlinks">
        <dl>
            <dt><a href="https://www.cloudxns.net/Index/dns.html">了解CloudXNS</a></dt>
            <dd><a href="https://www.cloudxns.net/Index/dns.html">智能DNS</a></dd>
            <dd><a href="https://www.cloudxns.net/Index/Line.html">线路纵览</a></dd>
            <dd><a href="https://www.cloudxns.net/Index/Extend.html">扩展解析</a></dd>
            <dd><a href="https://www.cloudxns.net/Index/Guide.html">带你入门</a></dd>
        </dl>
        <dl>
            <dt><a href="https://www.cloudxns.net/Index/plus.html">CloudXNS+</a></dt>
            <dd><a href="https://www.cloudxns.net/Index/xmon.html">鹰眼监控</a></dd>
            <dd><a href="https://www.cloudxns.net/Index/Speed.html">牛盾云安全</a></dd>
            <dd><a href="https://www.cloudxns.net/Index/weixin.html">微域名管理</a></dd>
            <dd><a href="https://www.cloudxns.net/Index/HttpDNS.html">HttpDNS</a></dd>
        </dl>
        <dl>
            <dt><a href="https://www.cloudxns.net/Support/index.html">服务与支持</a></dt>
            <dd><a href="https://www.cloudxns.net/Support/lists/cid/1.html">帮助中心</a></dd>
            <dd><a href="https://www.cloudxns.net/Support/lists/cid/2.html">资讯快车</a></dd>
            <dd><a href="https://www.cloudxns.net/Support/lists/cid/3.html">X社区</a></dd>
            <dd><a href="https://www.cloudxns.net/Support/lists/cid/17.html">API</a></dd>
        </dl>
        <dl>
            <dt><a href="http://tools.cloudxns.net">运维工具箱</a></dt>
            <dd><a href="http://tools.cloudxns.net/index.php/Index/Diag" target="_blank">用户DNS优化</a></dd>
            <dd><a href="http://tools.cloudxns.net/index.php/Index/Around" target="_blank">全国DNS查询</a></dd>
            <dd><a href="http://tools.cloudxns.net/index.php/Index/Query" target="_blank">本地DNS探测分析</a></dd>
            <dd><a href="http://tools.cloudxns.net/index.php/Index/Mdig" target="_blank">智能DNS分区检测</a></dd>
            <dd><a href="http://tools.cloudxns.net/index.php/Index/Ping" target="_blank">分区PING</a></dd>
        </dl>
        <dl>
            <dt><a href="https://www.cloudxns.net/Index/aboutus.html">关于我们</a></dt>
            <dd><a href="https://www.cloudxns.net/Order/index.html">产品选购</a></dd>
            <dd><a href="https://www.cloudxns.net/Sign/agreement.html">用户协议</a></dd>
            <dd><a href="http://www.fastweb.com.cn" target="_blank" title="北京快网—专业的云计算CDN网站加速服务提供商">北京快网</a></dd>
            <dd><a href="http://www.21vianet.com/" target="_blank" title="世纪互联—中国最大的电信中立互联网基础设施服务商">世纪互联</a></dd>
        </dl>
        <dl>
            <dt>管理控制台</dt>
            <dd><a href="https://www.cloudxns.net/Domain/index.html">我的域名</a></dd>
            <dd><a href="https://www.cloudxns.net/Monitor/index.html">监控任务</a></dd>
            <dd><a href="https://www.cloudxns.net/PrivateView/index.html">私有线路</a></dd>
            <dd><a href="https://www.cloudxns.net/Import/history.html">导入任务</a></dd>
        </dl>
        <div class="contact">
            <ul>
                <li><a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=800081044&f=1&ty=1&aty=0&a=&from=6" class="qq" target="_blank">QQ</a></li>
                <li><a href="javascript:;" class="wx">微信</a>
                    <p><img src="/Public/Sun/images/common/cloudxns.jpg">CloudXNS官方微信<s>></s></p>
                </li>
                <li><a href="http://weibo.com/cloudxns" class="wb" target="_blank">新浪微博</a></li>
            </ul>
            <h4>紧急技术支持：</h4><p>027-87001618-8013</p><p>15549442542</p><p>15671618036</p>
        </div>
    </div>
    <p class="t">Copyright © 2016 Beijing Fastweb Technology Inc. All Rights Reserved <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备06026704号-4</a></p>
</div>
<div id="fixedbar">
    <div id="gotop" class="bar"><a href="javascript:;" title="返回顶部"><i>返回顶部</i></a></div>
    <div id="codebar" class="bar"><a href="javascript:;" title="微信"><i>微信</i></a><div class="barcon"><img src="/Public/Sun/images/common/cloudxns.jpg"><p>微信扫描二维码，关注CloudXNS公众号</p><s>></s></div></div>
    <div id="qqbar" class="bar"><a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=800081044&f=1&ty=1&aty=0&a=&from=6" target="_blank" title="QQ客服:800081044"><i>QQ</i></a></div>
    <div id="wbbar" class="bar"><a href="http://weibo.com/cloudxns" target="_blank" title="CloudXNS 新浪微博"><i>新浪微博</i></a></div>
</div>

<script src="/Public/Sun/js/locale/zhcn.js?v=20160411"></script>
<script src="/Public/Sun/js/jquery.min.js?v=20160411"></script>
<script src="/Public/Sun/js/common.js?v=20160411"></script>

<script src="/Public/Sun/js/index.js?v=20160411"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?0636942679189bbc95f795c798c41bb5";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>